body {
  width: 600px;
  margin: auto;
  background-color: lightyellow;
  font-family: "Georgia", "Times New Roman", sans-serif;
}

h1,
img,
div a {
  border: 5px solid black;
}

h1,
h2,
div a {
  background-color: lightgreen;
}

h1 {
  text-align: center;
  padding: 10px;
}

img {
  display: block;
  width: 200px;
  height: auto;
  margin: 20px auto;
}

.backlink {
  display: inline-block;
  padding: 10px;
  border: 3px dotted black;
  margin-top: 10px;
  color: black;
}

div a {
  display: block;
  padding: 10px;
  margin: 10px 100px;
  text-align: center;
  color: black;
}

h2 {
  padding: 5px;
  display: inline-block;
  margin: 0;
  border: 2px solid black;
}